/*selector with key-value pairs */
.container {
    box-shadow: 2px 0px 11px 3px rgba(0, 0, 0, 0.75);
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    /*flexbox defaults on the x (horizontal) axis */
    /*justify-content controls axis layout */
    justify-content: space-between;
    /*align controls x axis layout */
    justify-content: space-between;
}

header img {
    height: auto;
    width: 80px;

}

nav a {
    color: #1d825b;
    font-size: 18px;
    font-weight: 600;
    margin: 0 15px;
    text-decoration: none;
}

nav button {
    background-color: white;
    border: 2px solid #1d825b;
    border-radius: 8px;
    color: #1d825b;
    font-size: 18px;
    font-weight: 600;
    height: 60px;
}

.heroImg {
    height: 50%;
    width: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
}

.contentImg {
    height: auto;
    margin: auto;
    width: 75%;
}